{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}
    {{ formset.media }}
{% endblock %}

{% block content %}
 <html lang="en">
  <head>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/heroic-features.css" rel="stylesheet">
    <!-- Link to the Bootstrap CSS from a CDN -->
       <script type="text/javascript">

    function noteTakerPopup() {
window.open( "/reply/{{post.post_id}}", "New Reply",
"status = 1, height = 600, width = 680, resizable = 0" );
}
$(document).ready(function(){
	$("#upvote").click(function(e){
                event.preventDefault();
                $.post( "/display_post/{{id}}", $( "#upvoter" ).serialize(),
                        function(data, status){
				//$("#upvote").value.replace(data);
                        });
                return false;
                });
});
</script>
  </head>
  <body>
    <div style="background-color: #d9f1ff;" class="col-lg-12">
                        <h4 style="background-color: #ccecff"><button style="background-color:#bce8f1" onclick="upvote_post()"><p id="pop">{{post.popularity}}</p></button> {{post.title}}</h4>
                    <div  style="color:#000000;">
                        <p size=4 style="background-color: #fdfdff;" class="small">{{post.content}}<p>
                        <small><small>{{post.replies}} replies</small></small>
                        <small><small> posted by</small></small>
                        <small><small style="color:#002a80"> {{username}}</small></small>
                        </div>
        <div class="row">
                        {% if username2 == "moderator" %}

        <div  class="col-lg-1"><a type="submit" href="/view_user/{{username}}" class="btn btn-primary"> Ban User</a></div>
  {% endif %}
            <div style="float:right"><input type="button" class="btn btn-primary" value="Reply" style="background-color:#006dcc;float:left" onClick="noteTakerPopup()"/></div>

                    </div>
               </div>
        </div>

  <div id="replies" class="col-md-10 col-sm-5 col-md-offset-1 ">
      {% for r in replies %}
                    <p><hr></p>
                        <p style="background-color:#66afe9;">{{r.content}}</p>
      <button  class="btn btn-info btn-xs" onclick="approve({{r.reply_id}})">{{r.approvals}}<p id="ap{{r.reply_id}}"></p></button> Approvals
			<button class="btn btn-info btn-xs" onclick="expert_approve({{r.reply_id}})">{{r.expert_approvals}}<p id="ex{{r.reply_id}}"></p></button> Expert Approvals
			<button class="btn btn-info btn-xs" onclick="disapprove({{r.reply_id}})">{{r.disapprovals}}<p id="da{{r.reply_id}}"></p></button> Disapprovals
			<button class="btn btn-info btn-xs" onclick="verify({{r.reply_id}})">{{r.verifications}}<p id="vr{{r.reply_id}}"></p></button> Verifications
                    <p><hr></p>

    {% endfor %}
      </div>
<script>
        function upvote_post(){ $.get( "/reply_op/upvote/{{id}}", function(data){
                                        document.getElementById("pop").innerHTML =data; }); }

        function approve(reply_id){ $.get( "/reply_op/approve/"+reply_id, function(data){
                                        document.getElementById("ap"+reply_id).innerHTML =data ; }); }
        function disapprove(reply_id){ $.get( "/reply_op/disapprove/"+reply_id, function(data){
                                        document.getElementById("da"+reply_id).innerHTML =data ; }); }
        function expert_approve(reply_id){ $.get( "/reply_op/expert_approve/"+reply_id, function(data){
                                        document.getElementById("ex"+reply_id).innerHTML =data ; }); }
        function verify(reply_id){ $.get( "/reply_op/verify/"+reply_id, function(data){
                                        document.getElementById("vr"+reply_id).innerHTML =data ; }); }

</script>
  </body>
 </html>
{% endblock %}
