{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% load mathfilters%}

{% block content %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/heroic-features.css" rel="stylesheet">
    <title></title>
    <script>
$(document).ready(function() {
    $("#top").click(function () {
        $("#recentposts").hide();
        $("#topposts").removeClass("hidden")
        $("#topposts").show();

    })
    $("#recent").click(function(){
         $("#topposts").hide();
        $("#recentposts").show();
    })
    });
</script>
    <script type="text/javascript">

    function noteTakerPopup() {
window.open( "/newpost/electronics", "New Post",
"status = 1, height = 600, width = 680, resizable = 0" );
}
</script>
</head>
<body>
        <div style="width:300px;float:left"><input type="button" class="btn btn-info" value="New Post" style="background-color:#006dcc;float:left" onClick="noteTakerPopup()"/></div>
    <button type="button" class="btn btn-info" id="top">Top</button>
    <button type="button" class="btn btn-info" id="recent">Recent</button>
    <div class="container">
            <div class="col-lg-12 hero-feature"  id="recentposts">
            {% for p in recent %}
                        <p><hr></p>
                        <h6 style="background-color: #ccecff"> <span class="badge" style="background-color: #bababa">{{p.popularity}}</span> <a href="/display_post/{{p.post_id}}" name='{{p.post_id}}'>{{p.title}}</a></h6>
                        <p class="small">{{p.replies}} replies</p>
                        <p><hr></p>
            {% endfor %}
       </div>
        <div class="col-lg-12 hero-feature hidden"  id="topposts" >
            {% for p in top %}
                        <p><hr></p>
                        <h6 style="background-color: #ccecff"> <span class="badge" style="background-color: #bababa">{{p.popularity}}</span> <a href="/display_post/{{p.post_id}}" name='{{p.post_id}}'>{{p.title}}</a></h6>
                        <p>{{p.replies}} replies</p>
                        <p><hr></p>
            {% endfor %}
       </div>
        </div>
</body>
</html>

{% endblock %}
