{% extends "plain_base.html" %}

{% load bootstrap_toolkit %}

{% block extra_head %}
    {{ formset.media }}
{% endblock %}

{% block content %}
    <html lang="en">
  <head>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/heroic-features.css" rel="stylesheet">
    <!-- Link to the Bootstrap CSS from a CDN -->
  </head>
  <body>
    <div class = "login-container">
        <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
             <h1 class="text-center login-title">Login</h1>
            <div class="account-wall">
            <form class="form-signin" action="" method="post" id="credentials">
        {% csrf_token %}

        {% bootstrap_formset formset=formset %}
    </form>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>

        <!--p><a class="btn btn-primary" href="/instructions1">Submit</a></p-->
	<button class="btn btn-lg btn-primary btn-block"  form="credentials" type="submit" onclick=""window.open('', '_self','');">
                    Sign in</button>
    <a href="/registration_form" class="text-center new-account">Create an account </a>
	<div style="color:red">
		Username or Password not recognized.
	</div>
</div>
            </div>
            </div>
        </div>
    </body>
  </html>

{% endblock %}
