{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% load mathfilters%}

{% block content %}
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/heroic-features.css" rel="stylesheet">
    <title></title>
</head>
<body>
<div class="container">
    <div class="col-lg-12 hero-feature">
    <h4> Top posts from crafts </h4>
            {% for p in crafts %}
        <p><hr></p>
                        <h6 style="background-color: #ccecff"> <span class="badge" style="background-color: #bababa">{{p.popularity}}</span> <a href="/display_post/{{p.post_id}}" name='{{p.post_id}}'>{{p.title}}</a></h6>
                        <p class="small">{{p.replies}} replies</p>
                        <p><hr></p>

            {% endfor %}
        </div>

    <div class="col-lg-12 hero-feature">
    <h4> Top posts from food </h4>
            {% for p in food %}
                        <p><hr></p>
                        <h6 style="background-color: #ccecff"> <span class="badge" style="background-color: #bababa">{{p.popularity}}</span> <a href="/display_post/{{p.post_id}}" name='{{p.post_id}}'>{{p.title}}</a></h6>
                        <p class="small">{{p.replies}} replies</p>
                        <p><hr></p>
            {% endfor %}
        </div>

    <div class="col-lg-12 hero-feature">
    <h4> Top posts from electronics </h4>
            {% for p in electronics %}
                        <p><hr></p>
                        <h6 style="background-color: #ccecff"> <span class="badge" style="background-color: #bababa">{{p.popularity}}</span> <a href="/display_post/{{p.post_id}}" name='{{p.post_id}}'>{{p.title}}</a></h6>
                        <p class="small">{{p.replies}} replies</p>
                        <p><hr></p>
            {% endfor %}
        </div>


</div>

</body>
</html>
{% endblock %}
