{% extends "plain_base.html" %}

{% load bootstrap_toolkit %}

{% load mathfilters%}

{% block content %}
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/heroic-features.css" rel="stylesheet">
    <title></title>
</head>
<body>
<div class="container">
    <form method="post"  id="note" >{% csrf_token %}
<input type="text" name="title" rows="1" cols="80" style="width:600px;" placeholder="Post Title" required>
<textarea rows="10" name="content" cols="80" style="width:600px;height:300px" placeholder="Post Content" required></textarea>
</form>

</div>

<!--p><a class="btn btn-primary" href="/buttons">Add Note</a></p-->
<div style="float:top;width:200px">

<button class="btn btn-sm btn-primary btn-block" type="submit" form="note" value="Submit"
        onclick="window.open('', '_self', '');">Post</button>
<button type="button" class="btn btn-sm btn-primary btn-block"
        onclick="window.open('', '_self', ''); window.close();">Cancel</button>
    </div>
</body>
</html>
{% endblock %}
