{% extends "plain_base.html" %}

{% load bootstrap_toolkit %}

{% load mathfilters%}

{% block content %}
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/heroic-features.css" rel="stylesheet">
    <title></title>
     <script type="text/javascript">
    window.onunload = function() {
        window.opener.location.reload();
    };
        </script>
</head>
<body>
<div class="container">
    <form method="post" id="note" >{% csrf_token %}
<textarea rows="10" name="content" cols="80" style="width:600px;height:300px" placeholder="Reply" required></textarea>
</form>
    </div>
<button class="btn btn-sm btn-primary btn-block" type="submit" form="note" value="Submit"
        onclick="window.open('', '_self', '');">Post</button>
<button type="button" class="btn btn-sm btn-primary btn-block"
        onclick="window.open('', '_self', ''); window.close();">Cancel</button>
    </div>

</body>
</html>
{% endblock %}